<div class="row py-2">
    <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <div *ngIf="loginMessage" class="alert alert-success" role="alert">
                    {{loginMessage}}
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{errorMessage}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>                
                <div class="form-group form-inline">
                    <form name="loginform" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="input-group mb-3">
                            <span class="input-group-text" title="Email"><i class="fa fa-user"></i></span>

                            <input class="form-control" name="email" [(ngModel)]="form.email" minlength="4" (change)="clearMessages()"
                                maxlength="30" required #uname="ngModel" autocomplete="off" placeholder="Enter Email">
                        </div>
                        <div *ngIf="uname.errors?.['minlength']" class="error">
                            Name must be at least 5 character long
                        </div>
                        <div class="input-group form-group">
                            <span class="input-group-text" title="Password"><i class="fa fa-lock"></i></span>

                            <input [type]="show? 'text':'password'" class="form-control" name="password" (change)="clearMessages()"
                                [(ngModel)]="form.password" maxlength="20" required #pword="ngModel" maxlength="15"
                                autocomplete="off" placeholder="Enter Password">
                            <span class="input-group-text">
                                <i [class]="show? 'fa fa-eye': 'fa fa-eye-slash'" class="float-end"
                                    (click)="togglePassword()" style="display: inline-block;" role="button"></i>
                            </span>
                        </div>
                        <div class="input-group form-group">
                            <span *ngIf="(pword.touched ||f.submitted) && pword.errors?.['required']"
                                class="text-danger">Password is required</span>
                            <span *ngIf="pword.errors?.['maxlength']" class="text-danger">Password cannot be more than
                                15 character</span>
                        </div>
                        <div class="mx-auto py-3" >
                            <a routerLink="/recover" class="float-end text-decoration-none" role="button">Forgot Password?</a>
                        </div>
                        <div class="form-group mx-auto">
                            <button type="submit" class="btn btn-success w-100" ng-disabled="f.form.$invalid"
                                (ngSubmit)="onSubmit()">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="text-center">Don't have an account? <a routerLink="/register" class="text-decoration-none" role="button">Sign
                up</a> </div>
    </div>