<div class="row">
    <div class="col-md-4" *ngFor="let product of products">
        <figure class="card card-product-grid" >
            <div class="img-wrap">
                <span class="badge badge-danger"> NEW </span>                                
                <a [routerLink]="['/product/', product.id]" class="title">{{product.title}}
                    <img src="{{product.thumbnail}}" style="height: 200px;position: relative;">
                </a>
            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">                    
                    <div class="price-wrap mt-2">
                        <span class="mx-2 star-rating">{{product.rating}} <i class="fa fa-star"></i></span>
                       ({{product.reviews.length}})
                    </div>                                    
                    <div class="price-wrap mt-2">
                        <span class="mx-2 price">{{product.price | currency:'INR':'symbol'}}</span>
                        <del class="mx-2 price-old">{{(product.price/(1- product.discountPercentage/100)) | currency:'INR': 'symbol' : '1.0-0'}}</del>
                        <span class="mx-2 price-discount float-end">{{product.discountPercentage/100 | percent}} off</span>                                        
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>
            </figcaption>
        </figure>
    </div> <!-- col.// --> 
</div> <!-- row end.// -->

<nav class="mt-4" aria-label="Page navigation sample" *ngIf="products.length > 10">
    <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>