@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

footer{
    position: fixed;
    bottom: 0;
    width: 99%;
    height: auto;
    margin-right: 8px;    
    background-color: #1976d2;
    color: #ffffff;
    display: inline !important ;
}